@keyframes floating {
  0% {
    transform: translateY(30px);
  }

  100% {
    transform: translateY(0px);
  }
}

.faq {
  padding: 80px 0;
  position: relative;
  overflow: hidden;
}

.shape1 {
  position: absolute;
  width: auto;
  top: 6%;
  left: 6%;
  animation: floating 3s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate;
}

.shape1 img {
  width: 32px;
  max-width: 100%;
  height: auto;
}

.header {
  margin: 0 auto 48px auto;
  max-inline-size: 65ch;
  text-align: center;
}

.title {
  text-transform: capitalize;
}

.title span {
  color: var(--secondary-color);
}

.thumb {
  margin-top: 48px;
  width: 100%;
  text-align: center;
}

.thumb img {
  width: 100%;
  filter: drop-shadow(-2px 3px 30px #16d466);
  max-width: 445px;
}

@media all and (min-width:576px) {
  .shape1 {
    top: 3%;
    left: 7%;
  }
}

@media all and (min-width:768px) {
  .shape1 {
    left: 2%;
    left: 1%;
  }

  .shape1 img {
    width: 84px;
  }
}

@media all and (min-width:992px) {
  .faq {
    padding: 120px 0;
  }

  .faqList {
    padding-right: 36px;
  }

  .thumb {
    margin-top: 0;
  }

  .shape1 {
    top: 4%;
    left: 4%;
  }

  .shape2 {
    top: -16%;
    left: -80%;
  }
}

@media all and (min-width:1200px) {
  .shape1 {
    top: 5%;
    left: 5%;
  }

  .shape1 img {
    width: 100px;
  }
}

@media all and (min-width:1400px) {
  .shape1 {
    top: 8%;
    left: 5%;
  }
}