@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header.scrolled {
  position: fixed;
  background-color: var(--wh-color);
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.3);
  animation: fadeInDown 0.5s;
}

.scrollUp {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 5%;
  right: 5%;
  border-radius: 8px;
  z-index: 9999;
  cursor: pointer;
  font-size: 24px;
  background-color: var(--brand-color);
  box-shadow: 0px 0 15px 0px rgba(104, 225, 166, 0.7);
  border: 1px solid var(--brand-color);
  overflow: hidden;
  transition: all 0.3s ease;
}

.scrollUp:hover {
  transform: scale(0.8);
}

.container {
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 130px;
}

.btnJoin {
  font-size: 1rem;
  font-family: 'Open Sans';
  font-weight: 500;
  line-height: 1;
  text-transform: capitalize;

  background-color: var(--brand-color);
  border: 1px solid var(--brand-color);
  border-radius: 8px;

  padding: 16px 30px;
  margin: auto;
  transition: transform 0.3s ease;
  overflow: hidden;
  position: relative;
}

.btnJoin::after {
  position: absolute;
  content: "";
  background: var(--bg-white);
  width: 50px;
  height: 155px;
  left: -75px;
  opacity: 0.2;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btnJoin:hover::after {
  left: 120%;
}

.btnJoin:hover {
  transform: translateY(-2px);
}

@media all and (min-width:576px) {
  .logo img {
    width: 180px;
  }

  .scrollUp {
    bottom: 7%;
  }
}

@media all and (min-width:992px) {
  .container {
    padding: 26px 0;
  }
}