/** Font Family*/
/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
/* Anek Telugu */
@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@300;400;500;600;700&display=swap');

:root {
  --bg-white: #FFFFFF;
  --body-color: #FFFFFF;
  --text-color: #6B777F;
  --title-color: #0C263A;
  --secondary-color: #0A4FD5;
  --brand-color: #00D094;
  --social-border-color-2: #ECEFF2;
  --wh-color: #ffffff;
  --tertiary-color: #E0FAF2;
  --partner-color: #EDF2F8;
  --floating-content-bg-color: rgb(255, 255, 255, 0.9);
  --floating-content-bg-color-2: rgb(255, 255, 255, 0.5);
  --bg-trans-color: rgb(237, 242, 248, 0.22);
  --bg-color: #EDF2F8;
  --border-color-8: rgba(189, 189, 189, 0.2);
  --border-color: #E6EDFB;
  --border-color-2: #E6EDFB;
  --box-shadow: 0px 12px 30px rgba(33, 85, 186, 0.08);
  --bg-grad-color: #FFF;
  --bg-grad-color-3: #E9EfF7;
  --bg-grad-color-trans: rgba(255, 255, 255, 0);
  --bg-grad-color-trans-3: rgba(240, 244, 250, 0.16);
  --service-item-border-color: #fff;
  --bg-shape-color: #b8cfeb
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  font-size: 1rem;
  line-height: 1.625;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--text-color);
}

::-webkit-scrollbar-thumb {
  background: var(--brand-color);
}

::-webkit-scrollbar-track-horizontal {
  background: var(--text-color);
}

::-webkit-scrollbar-thumb-horizontal {
  background: var(--brand-color);
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Anek Telugu';
  font-weight: 600;
  color: var(--title-color);
  margin-bottom: 0.5rem;
}

h1 {
  font-size: calc(1.5rem + 2.57vw);
  line-height: 1;
}

h2 {
  font-size: calc(1.425rem + 1.8vw);
  line-height: 56px;
}

h3 {
  font-size: calc(1.325rem + 0.7714285714vw);
  line-height: 1.25;
}

h5 {
  font-size: calc(1.275rem + 0.25vw);
  line-height: 1.25;
}

h6 {
  font-size: 1.25rem;
  line-height: 1.25;
}

@media all and (min-width:1400px) {
  h2 {
    font-size: 3rem;
  }
}

@media all and (min-width:768px) {
  ::-webkit-scrollbar-thumb:hover {
    background: var(--brand-color);
  }
}