:root {
  --body-color: #FFFFFF;
  --text-color: #6B777F;
  --title-color: #0C263A;
  --secondary-color: #0A4FD5;
  --brand-color: #00D094;
  --social-border-color-2: #ECEFF2;
  --wh-color: #ffffff;
  --tertiary-color: #E0FAF2;
  --partner-color: #EDF2F8;
  --floating-content-bg-color: rgb(255, 255, 255, 0.9);
  --floating-content-bg-color-2: rgb(255, 255, 255, 0.5);
  --bg-trans-color: rgb(237, 242, 248, 0.22);
  --bg-color: #EDF2F8;
  --border-color: #E6EDFB;
  --border-color-2: #E6EDFB;
  --box-shadow: 0px 12px 30px rgba(33, 85, 186, 0.08);
  --bg-grad-color: #FFF;
  --bg-grad-color-trans: rgba(255, 255, 255, 0)
}