.testimonial {
  padding: 80px 0;
  position: relative;
  overflow: hidden;
}

.header {
  margin: 0 auto 48px auto;
}

.title {
  text-transform: capitalize;
}

.title span {
  color: var(--secondary-color);
}

.description {
  max-inline-size: 50ch;
}


.btnMore {
  display: inline-block;
  margin-top: 30px;
  background-color: var(--brand-color);
  border: 1px solid var(--brand-color);
  border-radius: 8px;
  color: #0C263A;
  font-family: 'Open Sans';
  font-weight: 600;
  padding: 0.75rem 1rem;
  text-transform: capitalize;
  transition: all 0.3s ease-out;
  position: relative;
  overflow: hidden;
}


.btnMore:hover {
  transform: translateY(-1px);
}

.btnMore::after {
  position: absolute;
  background: var(--bg-white);
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.2;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -9999;
}

.btnMore:hover::after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.custom-swiper-button-next {
  position: absolute;
  bottom: 0;
  content: 'test';
  background-color: red;
}

.btnGroup {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
}

.btnGroup button {
  width: 40px;
  height: 40px;
  background-color: var(--wh-color);
  border: 1px solid var(--border-color);
  color: var(--title-white);
  border-radius: 99px;
  transition: all 0.5s ease;
}

.btnGroup button:hover,
.btnGroup button.active {
  background-color: var(--brand-color);
  border-color: var(--brand-color);
  color: #0c263a;
}

.btnGroup button i {
  -webkit-text-stroke: 1px;
}

@media all and (min-width:576px) {
  .btnGroup button {
    width: 46px;
    height: 46px;
  }
}

@media all and (min-width:768px) {
  .shape1 {
    position: absolute;
    content: '';
    width: 1000px;
    height: 80%;
    top: -14%;
    left: -36%;
    border: 1px solid var(--bg-shape-color);
    border-radius: 100px 100px 229px 100px;
    padding: 40px;
    transform: rotate(65deg);
    z-index: -999;
    opacity: 0.6;
  }

  .shape1 span {
    position: absolute;
    content: '';
    width: 980px;
    height: 94%;
    top: 3%;
    left: -1%;
    border-radius: 100px 100px 229px 100px;
    background:
      linear-gradient(180deg, var(--bg-shape-color-trans) 0%, var(--bg-shape-color) 100%);
  }


  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .btnMore {
    margin-top: 40px;
    padding: 1rem 1.25rem;
  }
}

@media all and (min-width:992px) {
  .testimonial {
    padding: 120px 0;
  }

  .btnMore {
    padding: 1rem 1.75rem;
  }

  .shape1 {
    top: -6%;
    left: -28%;
  }
}

@media all and (min-width:1200px) {
  .shape1 {
    height: 95%;
    top: -17%;
    left: -10%;
  }
}

@media all and (min-width:1200px) {
  .shape1 {
    left: -0;
  }
}