.about {
  padding: 65px 0 80px 0;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1.5rem;
}

.thumb {
  position: relative;
}

.thumb::after {
  position: absolute;
  content: "";
  top: calc(50% + 50px);
  left: calc(50% - 50px);
  height: 100px;
  width: 100px;
  backdrop-filter: blur(7px);
  filter: blur(70px);
  background-color: #85F2D382;
  transform: translate(-50%, -50%);
  z-index: -999;
}

.thumbContent {
  position: absolute;
  background-color: var(--floating-content-bg-color);
  border: 1px solid var(--floating-content-border-color);
  box-shadow: -40px 40px 60px 0px rgba(5, 30, 54, 0.05);
  border-radius: 16px;
  padding: 15px 20px;
}

.thumbTopLeft {
  left: 10px;
  top: 15px;
}

.thumbBottomRight {
  right: 10px;
  bottom: 15px;
}

.thumbTitle {
  color: var(--secondary-color);
  font-family: 'Open Sans';
  line-height: 32px;
  font-weight: 700;
  margin-bottom: 5px;
}

.thumbDescription {
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: capitalize;
  color: var(--title-color);
}

.thumbImg img {
  width: 100%;
  max-width: 630px;
  height: auto;
}

.content {
  margin-top: 3rem;
}

.contentTitle {
  text-transform: capitalize;
  color: var(--title-color);
}

.contentTitle span {
  color: var(--secondary-color);
}

.btnMore {
  display: inline-block;
  margin-top: 30px;
  background-color: var(--brand-color);
  border: 1px solid var(--brand-color);
  border-radius: 8px;
  color: #0C263A;
  font-family: 'Open Sans';
  font-weight: 600;
  padding: 0.75rem 1rem;
  text-transform: capitalize;
  transition: all 0.3s ease-out;
  position: relative;
  overflow: hidden;
}


.btnMore:hover {
  transform: translateY(-1px);
}

.btnMore::after {
  position: absolute;
  background: var(--bg-white);
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.2;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -9999;
}

.btnMore:hover::after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

@media all and (min-width:768px) {
  .thumbContent {
    padding: 24px 32px;
  }

  .btnMore {
    margin-top: 40px;
    padding: 1rem 1.25rem;
  }
}

@media all and (min-width:992px) {
  .container {
    flex-direction: row;
  }

  .content {
    padding-left: 1.5rem;
    margin-top: 1.5rem;
  }

  .thumb {
    padding-right: 4.5rem;
  }

  .thumbImg img {
    max-width: 500px;
  }

  .btnMore {
    padding: 1rem 1.75rem;
  }
}