.container {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: calc(5% + 52px);
  left: 5%;
  border-radius: 8px;
  z-index: 9999;
  cursor: pointer;
  background-color: var(--brand-color);
  box-shadow: 0px 0 15px 0px rgba(104, 225, 166, 0.7);
  border: 1px solid var(--brand-color);
  overflow: hidden;
  transition: all 0.3s ease;
}

.flag {
  width: 100%;
}

.flag img {
  width: 100%;
  padding: 8px;
  border-radius: 12px;
}

@media all and (min-width:576px) {
  .container {
    bottom: calc(7% + 52px);
  }
}

@media all and (min-width:992px) {
  .container {
    left: auto;
    right: calc(5% + 52px);
    top: 120px;
  }
}