/* Animation Keyframes */
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes floating {
  0% {
    transform: translateY(30px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes left-right {
  0% {
    transform: translateX(30px);
  }

  100% {
    transform: translateX(0px);
  }
}

/* Container Styles */
.container {
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Content Section Styles */
.content {
  color: var(--text-color);
}

.imgCoin {
  margin-bottom: 20px;
}

.imgCoin img {
  width: 70px;
  animation: rotate 3s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate;
}

.title {
  text-transform: capitalize;
  color: var(--title-color);
}

.title span {
  color: var(--secondary-color);
}

.description {
  margin-bottom: 20px;
}

/* Button Styles */
.btnGroup {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.btnStart,
.btnWatch {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  text-transform: capitalize;
  transition: all 0.5s ease;
}

.btnStart {
  background-color: var(--brand-color);
  color: #0c263a;
  padding: 0.75rem 1rem;
  border: 1px solid var(--brand-color);
  overflow: hidden;
}

.btnStart:hover {
  transform: translateY(-1px);
}

.btnStart::after {
  position: absolute;
  background: var(--bg-white);
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.2;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
}

.btnStart:hover::after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btnWatch {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  padding: 0.5rem 1rem;
}

.btnWatch:hover {
  background-color: #0a4fd5;
  border-color: #0a4fd5;
  color: var(--bg-white);
}

.btnWatch i {
  font-size: 24px;
}

/* Social Media Styles */
.social {
  color: var(--title-color);
}

.social p {
  font-size: 1.125rem;
  margin-bottom: 15px;
  font-weight: 700;
  text-transform: capitalize;
}

.socialLinkList {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.socialLinkItem a {
  font-size: 18px;
  background-color: transparent;
  border: 1px solid var(--social-border-color-2);
  padding: 10px;
  border-radius: 20px;
  transition: all 0.5s ease;
}

.socialLinkItem a:hover {
  background-color: var(--brand-color);
  border-color: var(--brand-color);
}

/* Hero Section Styles */
.hero {
  margin-top: 3rem;
  width: 100%;
}

.hero img {
  width: 100%;
}

/* Responsive Styles */
@media all and (min-width:576px) {
  .description {
    margin-bottom: 30px;
  }

  .btnGroup {
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }

  .btnStart {
    padding: 1rem 1.25rem;
  }

  .btnWatch {
    padding: 0.8rem 1.25rem;
  }
}

@media all and (min-width:768px) {
  .container {
    flex-direction: row;
  }

  .imgCoin img {
    width: 90px;
  }

  .content {
    margin-top: 3rem;
    padding-right: 2rem;
  }

  .description {
    margin-bottom: 40px;
  }

  .btnGroup {
    margin-bottom: 60px;
  }

  .btnStart {
    padding: 1rem 1.75rem;
  }

  .btnWatch {
    padding: 0.8rem 1.75rem;
  }

  .hero img {
    width: 400px;
    position: absolute;
    top: 195px;
    right: -35px;
    animation: floating 3s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate;
  }
}

@media all and (min-width:992px) {
  .wrapper {
    background: url('../images//bg.png');
    background-size: cover;
    background-position: center;
  }

  .imgCoin img {
    width: 110px;
  }

  .btnGroup {
    margin-bottom: 90px;
  }

  .btnStart {
    padding: 1rem 1.875rem;
  }

  .btnWatch {
    padding: 0.8rem 1.875rem;
  }

  .hero img {
    width: 550px;
    top: 160px;
    right: 15px;
    animation: left-right 3s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate;
  }
}

@media all and (min-width:1200px) {
  .hero img {
    width: 672px;
    max-inline-size: 55%;
    right: 45px;
  }
}